[web]
10.11.12.2

[web_ubuntu]
10.11.12.4

[web_centos]
10.11.12.3

[db]
10.11.12.200

[all:vars]
ansible_ssh_user=ansible
ansible_ssh_private_key_file=~/.ssh/ansible_ed25519

[web_ubuntu:vars]
nginx_package=nginx
phpfpm_package=php-fpm
neofetch_package=neofetch

[web_centos:vars]
nginx_package=nginx
phpfpm_package=php-fpm
